<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Login</display-name>
  <servlet>
    <description></description>
    <display-name>CtrlLogin</display-name>
    <servlet-name>CtrlLogin</servlet-name>
    <servlet-class>Controllers.CtrlLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrlLogin</servlet-name>
    <url-pattern>/Login/CtrlLogin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtrlRegisterUser</display-name>
    <servlet-name>CtrlRegisterUser</servlet-name>
    <servlet-class>Controllers.CtrlRegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrlRegisterUser</servlet-name>
    <url-pattern>/Login/CtrlRegisterUser/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtrlBuscar</display-name>
    <servlet-name>CtrlBuscar</servlet-name>
    <servlet-class>Controllers.CtrlBuscar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrlBuscar</servlet-name>
    <url-pattern>/Login/CtrlBuscar/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtrlDetalleCancion</display-name>
    <servlet-name>CtrlDetalleCancion</servlet-name>
    <servlet-class>Controllers.CtrlDetalleCancion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrlDetalleCancion</servlet-name>
    <url-pattern>/Login/CtrlDetalleCancion/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtrlAgregarCancion</display-name>
    <servlet-name>CtrlAgregarCancion</servlet-name>
    <servlet-class>Controllers.CtrlAgregarCancion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrlAgregarCancion</servlet-name>
    <url-pattern>/Login/CtrlAgregarCancion/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtrlListarAmigo</display-name>
    <servlet-name>CtrlListarAmigo</servlet-name>
    <servlet-class>Controllers.CtrlListarAmigo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrlListarAmigo</servlet-name>
    <url-pattern>/Login/CtrlListarAmigo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtrlBuscarAmigo</display-name>
    <servlet-name>CtrlBuscarAmigo</servlet-name>
    <servlet-class>Controllers.CtrlBuscarAmigo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrlBuscarAmigo</servlet-name>
    <url-pattern>/Login/CtrlBuscarAmigo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtrlAgregarAmigo</display-name>
    <servlet-name>CtrlAgregarAmigo</servlet-name>
    <servlet-class>Controllers.CtrlAgregarAmigo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrlAgregarAmigo</servlet-name>
    <url-pattern>/Login/CtrlAgregarAmigo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtrlVerLetra</display-name>
    <servlet-name>CtrlVerLetra</servlet-name>
    <servlet-class>Controllers.CtrlVerLetra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtrlVerLetra</servlet-name>
    <url-pattern>/Login/CtrlVerLetra/*</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  
</web-app>